/* design.css */

.card-img-top {
    width: 130%; /* ทำให้ภาพขยายเต็มความกว้างของ card */
    height: 250px; /* กำหนดความสูงเท่ากันสำหรับทุกภาพ */
    object-fit: cover; /* ปรับภาพให้พอดีโดยไม่เสียอัตราส่วน */
}
