
.custom-navbar {
  background-color: #2C2C2C;
  width: 240px;
  min-height: 100vh;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.custom-navbar-nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 15px 0;
}

.custom-nav-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #FFFFFF; /* สีขาว */
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 5px;
}

.custom-nav-link:hover {
  background-color: #4A4A4A; 
}

.custom-nav-link.active {
  background-color: #757575; 
}

.nav-icon {
  margin-right: 15px;
  font-size: 20px;
  color: #FFFFFF; 
}

.logout-button {
  background: none;
  border: none;
  color: #FFFFFF; 
  font-size: 16px;
  cursor: pointer;
  padding: 12px 20px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #E74C3C; 
}

.logout-button i {
  margin-right: 15px;
  color: #FFFFFF;
}

.d-flex {
  display: flex;
}


@media (max-width: 600px) {
  .custom-navbar {
    width: 100%; 
    padding-top: 10px; 
  }
  
  .custom-nav-link {
    font-size: 14px; 
  }

  .nav-icon {
    font-size: 18px; 
  }

  .logout-button {
    font-size: 14px; 
  }
}
