.task-admin-container {
    padding: 20px;
    max-width: 1200px;
    margin-left: 300px;
    font-family: 'Arial', sans-serif;
}

.h1-admin {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.task-form {
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-input,
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #000000;
}

.task-table-container {
    overflow-x: auto;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.task-table th,
.task-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.task-table th {
    background-color: #000000;
    color: white;
}

.task-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.task-table tr:hover {
    background-color: #f1f1f1;
}

.action-button {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #e0a800;
}
